html {
  margin: 0px;
  padding: 0px;
  background: radial-gradient(#FFFFFF, #F2E9E1); }

.container {
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  padding: 4vw;
  width: 60%;
  border-style: solid;
  border-width: 1vw;
  border-color: #1C140D; }
  .container .converter {
    text-align: center;
    margin: 0 auto;
    max-width: 90%; }
    .container .converter h1 {
      font-size: 7vw;
      font-family: "Press Start 2P", cursive;
      border: solid 5px #CBE86B;
      padding: 25px;
      margin: auto;
      width: 70%;
      text-decoration: underline; }
    .container .converter h2 {
      font-size: 7vw;
      font-family: "Share Tech Mono", monospace;
      text-align: center;
      margin: 10px; }
    .container .converter h3 {
      font-size: 7vw;
      font-family: "Libre Barcode 39 Extended", cursive;
      padding: 0px;
      margin: 10px auto; }
    .container .converter p {
      margin: 0 auto;
      padding: 0px;
      font-size: 3vw;
      font-family: "Share Tech Mono", monospace; }
    .container .converter input {
      height: 6vw;
      width: 50%;
      color: #CBE86B;
      font-size: 5vw;
      font-family: "Share Tech Mono", monospace;
      text-align: center;
      background: #1C140D;
      border: solid 2px #CBE86B;
      transition: .5s; }
      .container .converter input:focus {
        width: 70%;
        outline: none; }
  .container button {
    margin: 0 auto;
    outline: none;
    width: 25%;
    padding: 1vw;
    font-size: 4vw;
    font-family: "Share Tech Mono", monospace;
    background: #CBE86B;
    color: #1C140D;
    border-style: solid;
    border-width: .5vw;
    border-color: #1C140D;
    transition: .25s; }
    .container button:hover {
      background: #1C140D;
      color: #CBE86B;
      border-style: solid;
      border-width: .75;
      border-color: #CBE86B;
      transition: .1s; }
      .container button:hover:active {
        font-size: 3.75vw;
        padding: .75vw;
        width: 23%; }
