// fonts
$libre: 'Libre Barcode 39 Extended', cursive;
$start: 'Press Start 2P', cursive;
$mono: 'Share Tech Mono', monospace;

//colors
$white: #FFFFFF;
$lime: #CBE86B;
$pink: #F2E9E1;
$black: #1C140D;

html {
  margin: 0px;
  padding: 0px;
  background: radial-gradient($white, $pink);
}

.container {
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  padding: 4vw;
  width: 60%;
  border: {
    style: solid;
    width: 1vw;
    color: $black;
  }

  .converter {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;

    h1 {
      font: {
        size: 7vw;
        family: $start;
      }
      border: solid 5px $lime;
      padding: 25px;
      margin: auto;
      width: 70%;
      text-decoration: underline;
    }

    h2 {
      font: {
        size: 7vw;
        family: $mono;
      }
      text-align: center;
      margin: 10px;
    }

    h3 {
      font: {
        size: 7vw;
        family: $libre;
      }
      padding: 0px;
      margin: 10px auto;
    }

    p {
      margin: 0 auto;
      padding: 0px;
      font: {
        size: 3vw;
        family: $mono;
      }
    }

    input {
      height: 6vw;
      width: 50%;
      color: $lime;
      font: {
        size: 5vw;
        family: $mono;
      }
      text-align: center;
      background: $black;
      border: solid 2px $lime;
      transition: .5s;


      &:focus {
        width: 70%;
        outline: none;
      }
    }
  }

  button {
    margin: 0 auto;
    outline: none;
    width: 25%;
    padding: 1vw;
    font: {
      size: 4vw;
      family: $mono;
    }
    background: $lime;
    color: $black;
    border: {
      style: solid;
      width: .5vw;
      color: $black;
    };
    transition: .25s;

    &:hover {
      background: $black;
      color: $lime;
      border: {
        style: solid;
        width: .75;
        color: $lime;
      };
      transition: .1s;

      &:active {
        font-size: 3.75vw;
        padding: .75vw;
        width: 23%;
      }
    }
  }
}
